* {
  font-style: italic;
}
body{
  background:url(image-1.jpeg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin:0;
}
.total{
  justify-items: center;
  width:500px;
}
.main{
  text-align: center;
  border:3px solid rgb(43, 156, 226);
  border-radius: 10px;
  background:linear-gradient(to left,pink,rgb(108, 192, 223));
  margin: 0 auto;
}
.taskname{
  display: flex;
  font-size: larger;
  background-color: aliceblue;
  color: black;
  box-shadow: 3px 3px 3px rgb(108, 192, 223);
  margin: 0;
  border:0;
  width:60%;
  padding: 7px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-wrap: break-word;
  gap: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
li span {
      flex: 1;
      word-break: break-word;
 }
 li.done span {
      text-decoration: line-through;
      color: gray;
    }
.delete{
  color: whitesmoke;
  margin:20px;
  padding:7px;
  border-radius: 5px;
  background-color: red;
  border:0;
  cursor: pointer;
}
.delete:hover{
  background-color: rgb(221, 30, 30);
}
.delete:active{
  background-color: rgb(186, 59, 59);
}
h1{
  font-style: italic;
}
input{
  box-shadow: 3px 3px 3px rgb(253, 221, 226);
  margin: 0;
  padding: 7px;
  border-radius: 5px;
  width:50%;
}
.taskbutton{
  margin:20px;
  padding:7px;
  border-radius: 5px;
  background-color: rgb(0, 91, 147);
  color: rgb(240, 240, 238);
  border:0;
  cursor: pointer;
}
.taskbutton:hover{
  background-color: rgb(27, 133, 199);
}
.taskbutton:active{
  background-color: rgb(68, 127, 164);
}